<launch>
  <node name="observer_node" pkg="turtle_snake" type="observer.py" output="screen"/>
  <node name="move_node" pkg="turtle_snake" type="move.py" output="screen"/>
  <node name="turn_node" pkg="turtle_snake" type="turn.py" output="screen"/>
  <node name="control_node" pkg="turtle_snake" type="control.py" output="screen"/>
</launch>